.container{
    width: 190px;
    min-height: 260px;
    border-bottom: 1px solid #0000004d;
    border-right: 1px solid #0000004d;
    border-left: 1px solid #0000004d;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.25rem;
    background-color: #fff;
    justify-content: space-between;
    padding-bottom:1rem;
}

.imageContainer{
    display: flex;
    justify-content: center;
}

.imageContainer img{
    width: 190px;
    height: 120px;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}

.infoContainer{
    word-break: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .25rem;
    text-align: center;
}

.infoContainer h2{
    margin: 0;
    font-size: 1.25rem;
}

.infoContainer h3{
    margin: 0;
    font-size: .75rem;
    font-weight: 400;
}

.container button{
    cursor: pointer;
    width: 8rem;
    height: 2rem;
    border-radius: 1rem;
    border: 0;
    background-color: #3a86ff;
    color: #fff;
    font-weight: 500;
    transition: 0.45s;
}

.container button:hover{
    filter:brightness(0.9);
}
