.container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #e2abed;
}

.container input:focus {
  outline: none;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.btnSave {
  width: 120px;
  height: 40px;
  border-radius: 2rem;
  border: 0;
  background: #25092a;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}

.container ul {
  list-style: none;
}

.inputContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.inputContent input {
  height: 30px;
  border: 0;
  border-radius: 1rem;
  padding: 0 0.9rem;
}

.inputContent select {
  width: 100%;
  height: 30px;
  border: 0;
  border-radius: 4px;
}

.inputContentTitle {
  margin: 0;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 0 3rem;
}
