.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: #e2abed;
}

.container input:focus{
  outline: none;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.btnSave {
  width: 120px;
  height: 40px;
  border-radius: 2rem;
  border: 0;
  background: #25092a;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}

.container ul {
  list-style: none;
}

.inputContentTitle {
  margin: 0;
}

.tableContainer {
  border: 1px solid;
  border-radius: 4px;
}

.tableHeaderTitle {
  margin: 0 4px;
}
