.container{
    width: 190px;
    height: 210px;
    border-radius: 0.65rem;
    display: flex;
    flex-direction: column;
    padding: 0 4px;
}

.headerTitle{
    text-align: center;
}

.infoText{
    color: #fff;
    padding: 4px 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.infoText p{
    margin: 0;
}